body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header::before,
footer::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #24292e;
}

footer::after {
  bottom: 0;
  top: auto;
}

.header {
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 24px;
  margin: 0;
  color: #fff;
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  padding: 20px;
  background-color: #f2f2f2;
  position: relative;
}

.sidebar {
  position: absolute;
  top: 50px;
  bottom: 0;
  padding: 20px;
  width: 200px;
  background-color: #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.left-sidebar {
  left: 0;
}

.right-sidebar {
  right: 0;
}

.content-section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.about .content-section {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

.content-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.content-section p {
  line-height: 1.5;
}

.hobbies,
.dislikes,
.portfolio {
  @extend .content-section;
}

.hobbies li,
.dislikes li {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ddd;
}

.portfolio-card {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.portfolio-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.portfolio-card a {
